{% extends 'basic.html' %}
{% block content %}
<div class="container mt-5 py-3" style="background-color: rgb(247, 247, 247);text-align: justify;">

  <h1 class="display-1 mt-5" style="text-align:center;">About Us</h1>
  <p style="text-align:center;font-size: 18px;font-family: cursive;">Below are details who we are?</p>

  <h4 class="display-4 mt-5" style="text-align:center;">--Our Mission--</h4>
  <p style="text-align:center;">To Provide Convience To The User And Business Owners </p>

  <h4 class="display-4 mt-5" style="text-align:center;">--Our Motive--</h4>
  <p style="text-align:center;">To help Business to achieve their Goal and Others priority</p>

  <h4 class="display-4 mt-5" style="text-align:center;">--Our Services--</h4>
  <p style="text-align:center;">To help Business for Salary Management System </p>
  <p style="text-align:center;">To help Business for Attandance Management System</p>

  <h4 class="display-4 mt-5" style="text-align:center;">--Contact Us --</h4>
  <p style="text-align:center;">MYP Technologies Pvt Ltd Owner of SalaryBook</p>
  <p style="text-align:center;">3rd Floor,Bvn Floor,Bvn-390002</p>
  <p style="text-align:center;">
  <button type="button" class="btn border border-5 btn-dark btn-lg my-2"><a
        href="mailto:mojidrayagnik@gmail.com" style="text-decoration:none;color:White;"> MailUs</a></button></p>

</div>
{% endblock %}