{% extends 'basic.html' %}
{% block content %}

<div class="container mt-3" style="background-color: #E2D1F9">
  <div class="container-md mt-5 ps-5 pt-5" style="color:black;text-align: justify;">
    <h3> SalaryBook Se Karo , Business Grow </h3>
    <p> Manage your staff attendance, salary and compliances in few clicks </p>
    <img src="/static/images/salary2.png" class="img-fluid" alt="SalaryBook" style="width:150px;height:150px;">
    <button type="button" class="btn border btn-dark btn-lg mx-sm-5" ><a href="/accounts/signup"
        style="text-decoration:none;color:White;border-radius: 10px;">SignUp </a> </button>
  </div>
</div>

<div class="container mt-5 py-2" style="background-color: #E2D1F9;">
  <div class="container-md mt-5 ps-5 mb-5" style="color:black;text-align: center;">
    <h3> Our Products </h3>
    <p> Wide range of products especially designed especially designed</p>
    <p> to support your unique business needs </p>
    <h5> Salary Managenment </h5>
    <h5> Attendance Managenment </h5>
  </div>
</div>

<div class="container mt-5 py-1" style="background-color: #E2D1F9;">
  <div class="container-md mt-5 me-5 pb-4" style="color:black;text-align: right;">
    <h3>About SalaryBook</h3>
    <button type="button" class="btn border border-5 btn-dark btn-lg mx-sm-2"><a href="/about-us/"
        style="text-decoration:none;color:White;"> AboutUs </a></button>
  </div>
</div>

{% endblock %}