{% extends 'basic.html' %}
{% block content %}
<div class="container mt-5" style="border:5px solid black;text-align: justify;background-color:rgb(247, 245, 245);">

    <p class="mt-4" style="font-weight: bolder;">PRIVACY POLICY FOR MYP Technologies Pvt Ltd</p>
    <p class="mt-5" style="font-weight: bolder;">INTRODUCTION</p>
    <p>When you access the Platform you accept, without limitation or qualification, the Privacy Policy set forth
        below and any additional terms of use set forth in the Platform. We reserve the right to modify or update
        this Privacy Policy at any time and changes will become effective immediately upon posting. You are
        requested to check for updates to the Privacy Policy periodically.</p>
    <p class="mt-5" style="font-weight: bolder;">SCOPE OF POLICY</p>
    <p>This policy together with our Terms of Use applies to your use of:</p>

    <p>
        Any of the services accessible through the (“Services”) those are available on the Site or other
        sites of ours (“Services Sites”).
    </p>
    <p>
        This policy sets out the basis on which any personal data we collect from you, or that you provide to us,
        will be processed by us.</p>
    <p class="mt-5" style="font-weight: bolder;">CONSENT</p>
    <p>By affirming your assent to this Privacy Policy, you provide your consent to such collection, use, storage,
        processing and disclosure as set out in this Privacy Policy and the Terms and Conditions. The information
        received by the Site will not be shared with any third party or third party service providers for the
        purposes of advertising or marketing. SalaryBook will only be using the information for providing Services
        to
        you.
    </p>
    <p>
        By accessing our services, you agree to this privacy policy. This document supersedes any prior
        communication on this topic and reflects the entire and exclusive policy for this service.</p>
    <p class="mt-5" style="font-weight: bolder;">
        INFORMATION WE OBTAIN
    </p>
    <p>We obtain the following forms of information from you:</p>
    <p>1. Information about services received/rendered on the Platform.


    </p>
    <p>2. KYC Documents.</p>


    <p>
        3. Beneficiary account details</p>
    <p>
        4.
        We require the camera information permission to provide you an easy/smooth experience and to enable you to
        click photos of your KYC documents along with other requisite documents and upload the same on the App
        during your loan application journey.</p>
    <p>De-Identified and Non-Personally Identifiable Information</p>
    <p>
        We automatically track certain information about you based upon your behaviour on our Platform. We use this
        information to do internal research on our users’ demographics, interests, and behaviour to better
        understand, protect and serve our users and improve our services. This information is compiled and analysed
        on an aggregated basis. We also collect your Internet Protocol (IP) address and the URL used by you to
        connect your computer to the internet, etc. This information may include the URL that you just came from
        (whether this URL is on our Website or not), which URL you next go to (whether this URL is on our Website or
        not), your computer browser information, and your IP address. Cookies are small data files that a Website
        stores on Your computer. We will use cookies on our Website similar to other lending websites / apps and
        online marketplace websites / apps. Use of this information helps Us identify You in order to make our
        Website more user friendly. Most browsers will permit You to decline cookies but if You choose to do this it
        might affect service on some parts of Our Website. If you choose to make a purchase through the Platform, we
        collect information about your buying behaviour. We retain this information as necessary to resolve
        disputes, provide customer support and troubleshoot problems as permitted by law. if you send us personal
        correspondence, such as emails or letters, or if other users or third parties send us correspondence about
        your activities or postings on the Website, we collect such information into a file specific to you.</p>
    <p>We may de-identify personal information that we have collected from you through the Platform and combine it
        with de-identified information about other users, information from third parties, and/or publicly available
        information.
    </p>
    <p class="mt-5" style="font-weight: bolder;">USES MADE OF THE COLLECTED INFORMATION</p>
    <p>
        We may associate any category of information with any other category of information and will treat the
        combined information as personal data in accordance with this policy for as long as it is combined. We store
        the information collected from the Platform, which is used mainly to enhance the end user experience. The
        information is processed and analyzed by automated means to offer a variety of features that you get from
        using the Platform. The information will be used for advanced analytics to offer additional insightful
        features in future. We may also anonymize (de-personalize) your information we collect and combine it with
        other information sources for the purpose of advanced analytics and future use cases.</p>

    <p class="mt-5" style="font-weight: bolder;">

        USE OF COOKIES
    </p>
    <p>

        Some pages on the Platform use "cookies," which are small files that the Platform places on your hard drive
        for identification purposes. These files are used for Platform registration and customization the next time
        you visit us. Your web browser may allow you to be notified when you are receiving a cookie, giving you the
        choice to accept it or not. By not accepting cookies, some pages may not fully function, and you may not be
        able to access certain information on this Website.
    </p>




    <p class="mt-5" style="font-weight: bolder;">

        SECURITY OF DATA
    </p>
    <p>

        We and our partners maintain commercially reasonably measures to maintain information security and prevent
        it from unauthorized access. However, no security is fool-proof and in case we become aware of any breach of
        security of your information, we will notify you using the mobile number that we have. If you do not agree
        to the terms discussed above, you should exit our Platform or stop using the same. When you access our
        Platform, you acknowledge that you have read and agreed to abide by the terms described above.
    </p>




    <p class="mt-5" style="font-weight: bolder;">

        LINK TO THIRD PARTY WEBSITES
    </p>
    <p>

        Our Platform may contain links to third party websites/apps, which are not under our control. We have no
        responsibility or liability for and we make no representations whatsoever about any other website that you
        may have access to through our Platform. These linked sites are only for your convenience, and therefore,
        you access them at your own risk. The inclusion of such links does not imply that we endorse or accept any
        responsibility for the content or uses of such websites.
    </p>




    <p class="mt-5" style="font-weight: bolder;">

        FORCE MAJEURE
    </p>
    <p>

        Notwithstanding anything contained in this Privacy Policy or elsewhere, we shall not be held responsible for
        any loss, damage or misuse of your user information, if such loss, damage or misuse is attributable to a
        Force Majeure Event. “Force Majeure Event” shall mean any event that is beyond our reasonable control and
        shall include without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or
        industrial action of any kind, riots, insurrection, war, acts of government, network errors, computer
        hacking, technical snags, unauthorized access to computer data and storage device, breach of security and
        encryption and any other like event beyond our control.
    </p>


    <p class="mt-5" style="font-weight: bolder;">

        CHANGE IN PRIVACY POLICY
    </p>
    <p>

        We reserve the right to update, modify and amend any of the terms of our Privacy Policy, at any time without
        prior intimation to you. We shall not be liable for any failure or negligence on your part to review the
        updated Privacy Policy before accessing or using the Platform. Your continued use of the Platform, following
        changes to the Privacy Policy, will constitute your acceptance of those changes.
    </p>
</div>
{% endblock %}