{% extends 'basic.html' %}
  {%block content%}
  <div class="container mt-5" style="text-align:justify;border:5px solid black;background-color:rgb(240, 240, 240);">
    <p class="mt-4" style="font-weight:bolder;">Terms & Conditions FOR MYP Technologies Pvt Ltd</p>
    <P>MYP Technologies Pvt Ltd (“Company” or “We” or “Us” or “Our”), having its 3rd Floor,Bvn Floor,Bvn-390002, India
      owns and operates a
      web/mobile application “Salarybook” available as the websites: (i)
      The App and Website shall hereinafter together be
      referred to as the “Site” You (hereinafter collectively referred to as “User(s)”/ “You”/ “Your”)
      may be accessing our Site from a computer or mobile phone device (through an iOS or Android application, for
      example) and these Terms of Use govern your use of our Site and your conduct, regardless of the means of access.
      By using the Site, you confirm that you accept these Terms of Use and that you agree to abide by them.Your use of
      the services and features of the Site shall be governed by these Terms and Conditions (hereinafter"Terms of Use")
      along with the Privacy Policy, as modified and amended from time to time.
      By mere accessing or using the Site, you are acknowledging, without limitation or qualification, to be bound by
      these Terms of Use and the Privacy Policies, whether you have read the same or not. ACCESSING, BROWSING OR
      OTHERWISE USING THE SITE INDICATES YOUR UNCONDITIONAL AGREEMENT TO ALL THE TERMS AND CONDITIONS IN THIS AGREEMENT,
      SO PLEASE READ THIS AGREEMENT CAREFULLY BEFORE PROCEEDING. If you do not agree to any of the terms enumerated in
      the Terms of Use or the Policies, please do not use the Site. You are responsible to ensure that your access to
      this Site and material available on or through it are legal in each jurisdiction, in or through which you access
      or view the site or such material.</P>
    <p class="mt-4" style="font-weight:bolder;">
      REGISTRATION OF USERS
    </p>
    <p>

      You will need to sign-up with Us by filling the sign-up form by providing your registered mobile number and other
      requisite information about yourself or your organisation and open a Salarybook account (“Account”). As a
      registered user, you further agree to update your Personal Information (as defined in the Privacy Policy) if
      needed and to be solely and entirely responsible for maintaining the confidentiality of your user account, login
      and password and any activity that may occur through your Account. You must ensure that the information provided
      by You is correct, complete and not misleading. You should also inform Us promptly of any changes to the
      information that You have provided, by updating Your details, so we can communicate with You effectively. In the
      event, the information supplied by You is incorrect, incomplete and misleading, your registration may be cancelled
      and Your Account may be deactivated.
    </p>
    <p class="mt-4" style="font-weight:bolder;">

      LIMITATION OF LIABILITY
    </p>
    <p>

      In no event, SalaryBook or its contractors, agents, licensors, partners or suppliers will be liable to You for
      direct, indirect, ancillary, special, incidental, consequential, punitive, reliance or exemplary damages. This
      includes, but is not limited to injury, claim, loss of data, loss of income, loss of profit or loss of
      opportunity, loss of or damage to property, loss of anticipated profits or any other pecuniary or non-pecuniary
      loss , goodwill, use, data, other intangible, or damage of any nature whatsoever loss (even if SalaryBook has been
      advised of the possibility of such damages), arising out of or relating to: (i) this Agreement or any other
      policies of the Website; (ii) the Services, the Website or any reference site/app/Site/service; or (iii) Your use
      or inability to use the Services, the Website(including any and all materials) or any reference
      sites/app/Site/service, even if we or our authorized representative has been advised of the possibility of such
      damages or (iv) any other interactions with SalaryBook.
    </p>

    <p class="mt-4" style="font-weight:bolder;">

      FORCE MAJEURE
    </p>
    <p>

      In the event that the performance of any of Our obligations pursuant to these Terms of Use is prevented, hindered
      or delayed by reason of fire, flood, earthquake, explosion or other casualty or accident or act of God, war or
      other violence, or service interruptions caused by the hosting service, failure or any act by or nature of
      telecommunications carrier, of the internet backbone, of any internet servers, or any applicable law, order
      proclamation, interruptions in supply of electricity regulation, ordinance, demand or requirement of any
      governmental or regulatory authority and such non-performance, hindrance or delay could not have been prevented by
      reasonable foresight or precautions (including proper planning and execution of the disaster recovery or business
      continuity plan) or circumvented through the use of alternate sources, work-around plans or other means or any
      applicable law, order proclamation, regulation, ordinance, demand or requirement of any governmental or regulatory
      authority ( collectively “Force Majeure Event”), then We will be excused for such non-performance, hindrance or
      delay, as applicable, from Our obligations hereunder, to the extent that they are affected by the Force Majeure
      Event.
    </p>

    <p class="mt-4" style="font-weight:bolder;">

      GOVERNING LAW
    </p>
    <p>

      These Terms of Use shall be governed by and construed in accordance with the laws of India. The parties subject
      themselves to the exclusive jurisdiction of the courts at Bengaluru, India.
    </p>

    <p class="mt-4" style="font-weight:bolder;">

      DISPUTE RESOLUTION
    </p>
    <p>

      Any dispute in respect of all or any of the provisions of these Terms of Use shall be resolved amicably within 15
      (fifteen) days of notifying the same to the other party and in the event neither party reaches an agreement, the
      dispute should be resolved by Arbitration which shall be referred to a Sole Arbitrator in accordance with the
      provisions of the Arbitration and Conciliation Act 1996. The place of arbitration shall be Bengaluru, India and
      the language used shall be English.
    </p>

    <p class="mt-4" style="font-weight:bolder;">

      ENTIRE AGREEMENT
    </p>
    <p>

      The Terms of Use and the Privacy Policy represent the entire agreement between You and Us in relation to the use
      of Our Site and shall supersede any prior agreement, understanding or arrangement between Us, whether oral or in
      writing. Further, You acknowledge and agree that, You have not relied on any representation, undertaking, promise
      or implied any warranty, whether conveyed orally or in writing, except as expressly stated herein.
    </p>

    <p class="mt-4" style="font-weight:bolder;">

      CHANGE IN TERMS OF USE
    </p>
    <p>

      We reserve the right to change these Terms of Use at any time. You are expected to check and get acquainted with
      these Terms of Use from time to time.
    </p>

    <p class="mt-4" style="font-weight:bolder;">

      WAIVER
    </p>
    <p>

      No delay in enforcing any provision of the Terms of Use will be construed to be a waiver of any rights under that
      provision by Us.
    </p>

    <p class="mt-4" style="font-weight:bolder;">

      ASSIGNMENT
    </p>
    <p>

      You shall not assign any of Your rights or obligations under these Terms of Use without Our prior written consent.
    </p>

    <p class="mt-4" style="font-weight:bolder;">
      SEVERABILITY
    </p>
    <p>

      If any provision of these Terms of Use is held by a court of competent jurisdiction to be void, invalid,
      unenforceable or illegal, the remaining provisions shall remain in full force and effect.
    </p>

    <p>

      I hereby agree to these Terms of Use.
    </p>
  </div>
  {% endblock %}
